<html>

<head>
<title>CREST Challenge</title>
</head>


<body>

<h1>{{question.category}} Challenge</h1>


<p>
{{question.question}}
</p>


<p>
Points: {{question.points}}
</p>


{% if result %}

<h2>
{{result}}
</h2>

{% endif %}



<form method="POST">

<input 
type="text"
name="answer"
placeholder="Enter trophy"
/>

<input 
type="hidden"
name="action"
value="answer"
/>

<button type="submit">
Submit Answer
</button>

</form>

<h3>Need help?</h3>


<form method="POST">

<input 
type="hidden"
name="action"
value="hint"
/>

<input 
type="hidden"
name="hint_number"
value="1"
/>

<button type="submit">
Show Hint 1
</button>

</form>


<form method="POST">

<input 
type="hidden"
name="action"
value="hint"
/>

<input 
type="hidden"
name="hint_number"
value="2"
/>

<button type="submit">
Show Hint 2
</button>

</form>


<form method="POST">

<input 
type="hidden"
name="action"
value="hint"
/>

<input 
type="hidden"
name="hint_number"
value="3"
/>

<button type="submit">
Show Hint 3
</button>

</form>




{% if hint %}

<p>
<strong>Hint:</strong>
{{hint}}
</p>

{% endif %}


</body>

</html>
