<!DOCTYPE html>

<html>

<head>

<title>CREST Lab Lite</title>

<link rel="stylesheet" href="/static/css/style.css">

</head>


<body>

<h1>CREST-Lab Lite</h1>

<h2>Northwind Manufacturing Ltd</h2>

<p>
Enumeration Training Environment
</p>


<h3>Questions</h3>


<table>

<tr>
<th>ID</th>
<th>Category</th>
<th>Question</th>
<th></th>
</tr>


{% for q in questions %}

<tr>

<td>{{q.id}}</td>

<td>{{q.category}}</td>

<td>{{q.question}}</td>

<td>
<a href="/question/{{q.id}}">
Start
</a>
</td>

</tr>


{% endfor %}


</table>


</body>

</html>
